Repository codecurrent-sandbox/nba-stats: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-api.yml, pipelines/build-frontend.yml, pipelines/infra-deploy.yml

pipelines/build-api.yml:
  name: API-Build-$(Date:yyyyMMdd)-$(Rev:r)
  stages:
  - stage: Prep
    displayName: Prepare Build Environment
    jobs:
    - job: PrepareEnvironment
      displayName: Setup Node.js and Dependencies
      pool:
        vmImage: $(vmImage)
      steps:
      - checkout: self
        displayName: Checkout source code
  ...

pipelines/build-frontend.yml:
  name: Frontend-Build-$(Date:yyyyMMdd)-$(Rev:r)
  stages:
  - stage: Prep
    displayName: Prepare Build Environment
    jobs:
    - job: PrepareEnvironment
      displayName: Setup Node.js and Dependencies
      pool:
        vmImage: $(vmImage)
      steps:
      - checkout: self
  ...

pipelines/infra-deploy.yml:
  name: Infra-Deploy-$(Date:yyyyMMdd)-$(Rev:r)
  stages:
  - stage: Deploy_Dev
    displayName: 'Deploy: Dev'
    dependsOn: []
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
    - deployment: DeployDev
      displayName: Deploy Infrastructure (Dev)
      pool:
  ...

feat: add multi-stage deployment for dev/test/prod environments - AB#1430 AB#1431
  pipelines/build-api.yml
  pipelines/build-frontend.yml
Due: pipelines/build-api.yml, pipelines/build-frontend.yml

Added package-lock files
  .gitignore
  frontend/package-lock.json
  services/api/package-lock.json
Due: pipelines/build-api.yml, pipelines/build-frontend.yml

fix: frontend port configuration, health probes, and pipeline warnings
  infra/modules/container-apps/frontend-app.bicep
  pipelines/build-api.yml
  pipelines/build-frontend.yml
Due: pipelines/build-api.yml, pipelines/build-frontend.yml, pipelines/infra-deploy.yml

Changed service connections
  pipelines/build-api.yml
  pipelines/build-frontend.yml
Due: pipelines/build-api.yml, pipelines/build-frontend.yml

Updated to correct service connection
  pipelines/build-api.yml
  pipelines/build-frontend.yml
Due: pipelines/build-api.yml, pipelines/build-frontend.yml

Fix service connection references and API URL extraction in pipelines
  pipelines/build-frontend.yml
Due: pipelines/build-frontend.yml

Remove nginx API proxy causing startup failure
  frontend/nginx.conf
Due: pipelines/build-frontend.yml

Fix DATABASE_URL support and configure pipeline cascade
  pipelines/build-api.yml
  pipelines/build-frontend.yml
  services/api/src/database/db.ts
Due: pipelines/build-api.yml, pipelines/build-frontend.yml

Add debug logging for database configuration
  services/api/src/database/db.ts
Due: pipelines/build-api.yml

Fix PostgreSQL connection string format for pg library
  infra/main.bicep
Due: pipelines/infra-deploy.yml

fix: update database connection string secret with password during API deployment
  pipelines/build-api.yml
Due: pipelines/build-api.yml

docs: make all README files more concise
  README.md
  frontend/README.md
  infra/README.md
  pipelines/README.md
Due: pipelines/build-frontend.yml, pipelines/infra-deploy.yml

fix: correct health probe path to /api/health
  infra/modules/container-apps/api-app.bicep
Due: pipelines/infra-deploy.yml

fix: inject production API url into frontend build
  frontend/Dockerfile
Due: pipelines/build-frontend.yml

fix(frontend): derive runtime api url fallback
  frontend/src/lib/apiClient.ts
Due: pipelines/build-frontend.yml

chore: derive api url at runtime
  frontend/src/lib/apiClient.ts
  pipelines/build-frontend.yml
Due: pipelines/build-frontend.yml

fix: avoid localhost literal in frontend builds
  frontend/Dockerfile
  frontend/src/lib/apiClient.ts
Due: pipelines/build-frontend.yml

Enrich team metadata from BallDontLie
  services/api/server.js
  services/api/src/adapters/balldontlie.ts
Due: pipelines/build-api.yml

Add CI pipeline for PR validation
  pipelines/ci.yml
Due: none

chore: add status check comment to CI pipeline
  pipelines/ci.yml
Due: none

chore: include pipelines/ in CI path filter
  pipelines/ci.yml
Due: none

chore: add comment to trigger CI path filter
  services/api/server.js
Due: pipelines/build-api.yml

chore: disable Container Security Analysis auto-injection
  pipelines/ci.yml
Due: none

Added main trigger
  pipelines/ci.yml
Due: none

chore: trigger CI status check
  pipelines/ci.yml
Due: none

chore: retrigger PR validation
  pipelines/ci.yml
Due: none

chore: retrigger PR validation (yaml)
  pipelines/ci.yml
Due: none

ops: add temp postgres start pipeline
  pipelines/start-dev-postgres.yml
Due: none

test: validate Azure CI path triggers
  frontend/ci-path-trigger.txt
  infra/ci-path-trigger.txt
  pipelines/ci-path-trigger.txt
  services/api/ci-path-trigger.txt
Due: pipelines/build-api.yml, pipelines/build-frontend.yml, pipelines/infra-deploy.yml

fix: switch to MCR images and suppress SSCA warnings
  frontend/.npmrc
  frontend/Dockerfile
  pipelines/ci.yml
  services/api/.npmrc
  services/api/Dockerfile
Due: pipelines/build-api.yml, pipelines/build-frontend.yml

docs: add comprehensive CI/CD documentation with Mermaid diagrams
  docs/cicd.md
Due: none

Path conditions:
  pipelines/build-api.yml: any of: services/api, pipelines/build-api.yml
  pipelines/build-frontend.yml: any of: frontend, pipelines/build-frontend.yml
  pipelines/infra-deploy.yml: any of: infra, pipelines/infra-deploy.yml
